<!--TITRE SECTION 5 : project management -->
<div id="section5" class="typewriter container">
    <h1>GESTION DE PROJET</h1>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-6 text-white">
                    <div class="shadow-sm p-1 mb-1 bg-body-tertiary rounded">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>

                            <tbody id="SharePointSites">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-9 col-md-6 text-white">
                    <p>J'ai réalisé beaucoup de projet dans mon cursus scolaire ainsi que dans le monde professionnel. Une
                        orientation qui n'est pas anodine, LE MONDE DE L'E-COMMERCE.
                        Très passionnant et enrichissant, ce domaine d'activité est une des ouvertures dans le futur.</p>
                    <br />
                    <h2>Here are my performance :</h2>
            
                    <!--Charte 3 : Project management-->
            
                    <div class="container" style="margin-right: auto; margin-right: auto;">
                        <canvas id="myPManagementChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>