<!--TITRE SECTION 6 : my bot -->
<div id="section7" class="typewriter container">
    <h1>HERE ARE THEM... </h1>
</div>

<div class="container" style="min-height: 800px;">
    <mat-tab-group>
        <mat-tab label="Web Sites">
            <div class="row"  style="margin-top: 30px;">
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>

        </mat-tab>

        <!--IOS APPLICATIONS-->
        <mat-tab label="IOS Applications">
            <div class="row"  style="margin-top: 30px;">
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>


        <!--ANDROID APPLICATION-->
        <mat-tab label="Android Applications">
            <div class="row" style="margin-top: 30px;">
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg  text-white">
                    <div class="card img-fluid" style="width:300px">
                        <img class="card-img-top" src="../../assets/Pictures/BgNavbar.jpg" alt="Card image"
                            style="width:100%">
                        <div class="card-img-overlay">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. Some example text some example
                                text. Some
                                example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>