<!--TITRE SECTION 1 : About me-->
<div id="section1" class="typewriter container">
    <h1>(ง'̀-'́)ง Hi! MAESTRO...</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <h2>APPRENEZ UN PEU DE MOI</h2>
                <h4>"La persévérance ouvre des portes là où il n'y avait que des murs."</h4>
                <!--CARD-->
                <div class="card" style="width:100%">
                    <img class="card-img-top" src=".\assets\Pictures\Me.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Cessna JEFFERSON</h4>
                        <p class="card-text">Un jeune chef de projet en informatique. Spécialisé dans le monde du
                            développement.</p>
                        <a href="https://www.linkedin.com/in/cessna-tanteliniaina-jefferson-b7a057149"
                            class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                            </svg>&nbsp;&nbsp;Espionnez moi!</a>
                    </div>
                    <i class="bi bi-linkedin"></i>
                </div>
            </div>

            <!--PROJECT MANAGEMENT SECTION-->
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <h2 class="mt-5">PROJECT MANAGEMENT</h2>
                <h4>"Un bon chef de projet dirige avec vision, inspire avec passion et réussit avec une équipe unie."
                </h4>
                <div class="fakeimg"><img src="./assets/Pictures/ProjectManagment.jpg" width="100%" height="100%"
                        object-fit="contain" /></div>
                <br />
                <h5>Je suis en activité dans ce domaine depuis 2019.</h5>
                <p>Voici quelques exemple de mon parcours en tant chef de projet travaillant dans le monde du
                    développement web :
                </p>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 1 : Compréhension des Besoins
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Rencontre avec le client ou les parties prenantes: Le chef de projet discute avec le
                            client pour comprendre les besoins, les objectifs et les exigences du projet web. Il
                            recueille des informations détaillées sur les fonctionnalités, le design, les délais et le
                            budget.
                        </p>
                        <p> 2. Analyse des besoins: Le chef de projet travaille avec l'équipe pour traduire les besoins
                            du client en exigences techniques claires et fonctionnalités spécifiques. Il élabore une
                            documentation détaillée des spécifications du projet.
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 2 : Planification et Gestion des Ressources
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Planification du projet: Le chef de projet établit un plan de projet détaillé en
                            identifiant les étapes, les jalons, les livrables et les délais. Il alloue les ressources
                            nécessaires, y compris les développeurs, les designers et autres membres de l'équipe.
                        </p>
                        <p>
                            2. Gestion de l'équipe: Le chef de projet supervise et coordonne le travail de l'équipe de
                            développement web. Il attribue des tâches, assure le suivi des progrès et résout les
                            problèmes qui peuvent survenir.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 3 : Conception et Développement
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Conception: Le chef de projet collabore avec les concepteurs pour élaborer la mise en
                            page, le design visuel et l'expérience utilisateur du site web.
                        </p>
                        <p>
                            2. Développement: Les développeurs commencent à coder les fonctionnalités du site web en
                            utilisant les langages de programmation appropriés (comme HTML, CSS, JavaScript, etc.). Le
                            chef de projet s'assure que le développement respecte les normes et les meilleures
                            pratiques.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 4 : Tests et Qualité
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Tests fonctionnels: Le chef de projet et l'équipe effectuent des tests approfondis pour
                            s'assurer que toutes les fonctionnalités du site web fonctionnent correctement et répondent
                            aux exigences du client.
                        </p>
                        <p>
                            2. Tests de compatibilité: Le site web est testé sur différents navigateurs, appareils et
                            résolutions d'écran pour garantir une expérience utilisateur cohérente.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 5 : Lancement et Livraison
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Préparation pour le lancement: Le chef de projet coordonne les étapes finales avant le
                            lancement, y compris la configuration de l'hébergement, la mise en place de la base de
                            données et la gestion des noms de domaine.
                        </p>
                        <p>
                            2. Lancement: Une fois que le site web est prêt, le chef de projet supervise le processus de
                            mise en ligne et s'assure que tout se déroule sans problème.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 6 : Suivi et Maintenance
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Suivi post-lancement: Après le lancement, le chef de projet surveille les performances du
                            site web, détecte les problèmes éventuels et assure une résolution rapide.
                        </p>
                        <p>
                            2. Mises à jour et maintenance: Le chef de projet gère les mises à jour du site web, ajoute
                            de nouvelles fonctionnalités si nécessaire et garantit que le site reste sécurisé et à jour.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 7 : Évaluation et Rétroaction
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Évaluation du projet: Une fois le projet achevé, le chef de projet évalue les résultats
                            par rapport aux objectifs initiaux, identifie les leçons apprises et recueille la
                            rétroaction du client.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

        <div class="col-sm-8">
            <!--SHAREPOINT SECTION-->
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <h2>SHAREPOINT</h2>
                <h4>"Seul on va plus vite, ensemble on va plus loin."</h4>
                <div class="fakeimg"><img src="./assets/Pictures/SharePoint.jpg" class="pictureclass" /></div>
                <br />
                <h5>Je suis en activité dans ce domaine depuis 2019.</h5>
                <p>Voici quelques exemple de mon parcours avec SharePoint, en suivant les
                    étapes de la création d'un site SharePoint pour la gestion de projets :
                </p>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 1 : Planification et préparation
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Définir les besoins du projet : Identifiez les objectifs du projet et les
                            fonctionnalités
                            nécessaires dans le site SharePoint. Cela peut inclure la gestion de documents, le suivi des
                            tâches,
                            la collaboration d'équipe, etc.
                        </p>
                        <p> 2. Déterminez les autorisations : Identifiez les différents groupes d'utilisateurs et
                            attribuez-leur des niveaux d'autorisation appropriés en fonction de leurs rôles dans le
                            projet.
                        </p>
                        <p>
                            3. Choisir le type de site : Sélectionnez le modèle de site approprié en fonction des
                            besoins du
                            projet, par exemple un site d'équipe, un site de communication ou un site de groupe.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 2 : Création du site SharePoint
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Connectez-vous à SharePoint : Accédez à la plateforme SharePoint en utilisant vos
                            informations d'identification.
                        </p>
                        <p>
                            2. Créez un nouveau site : Sélectionnez l'option pour créer un nouveau site et
                            choisissez le
                            modèle de site qui correspond le mieux à vos besoins.</p>
                        <p>
                            3. Remplissez les détails du site : Donnez un nom au site, choisissez l'URL,
                            sélectionnez le
                            modèle de site, définissez les autorisations et configurez d'autres paramètres comme requis.
                        </p>
                        <p>
                            4. Personnalisez le site : Ajoutez des éléments personnalisés tels que des listes, des
                            bibliothèques de documents, des pages, des webparts, etc., pour répondre aux besoins
                            spécifiques du projet.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 3 : Configuration et personnalisation du site
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Ajoutez des listes et des bibliothèques** : Créez des listes pour le suivi des tâches,
                            la
                            gestion des problèmes, les demandes de changement, etc. Ajoutez également une bibliothèque
                            de
                            documents pour stocker et gérer les fichiers du projet.
                        </p>
                        <p>
                            2. Personnalisez les pages : Modifiez les pages du site pour y ajouter des informations
                            importantes, des rapports, des tableaux de bord, etc.

                        </p>
                        <p>
                            3. Configurer les flux de travail : Mettez en place des flux de travail automatisés pour
                            les
                            processus tels que l'approbation de documents, la gestion des demandes, etc.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 4 : Collaboration et gestion du projet
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Invitez les membres de l'équipe : Ajoutez les membres de l'équipe au site en
                            utilisant leurs
                            adresses e-mail pour qu'ils puissent accéder et contribuer au projet.
                        </p>
                        <p>
                            2. Collaborez sur les documents : Utilisez la bibliothèque de documents pour stocker et
                            collaborer sur les fichiers. Activez le suivi des versions pour garder une trace des
                            modifications.
                        </p>
                        <p>
                            3. Utilisez les listes pour la gestion des tâches : Créez des listes de tâches pour
                            attribuer, suivre et mettre à jour l'avancement des tâches du projet.
                        </p>
                        <p>
                            4. Utilisez les webparts de tableau de bord : Ajoutez des webparts de tableau de bord
                            pour afficher des graphiques, des indicateurs clés de performance et des rapports en temps
                            réel.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 5 : Suivi et évaluation
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Surveillance de l'avancement** : Utilisez les rapports et les tableaux de bord pour
                            suivre l'avancement global du projet, l'utilisation du site et l'engagement des membres de
                            l'équipe.
                        </p>
                        <p>
                            2. Révision et amélioration : Passez en revue périodiquement le site SharePoint pour
                            identifier les domaines d'amélioration, les problèmes éventuels et les nouvelles
                            fonctionnalités à
                            ajouter.
                        </p>
                        <p>
                            3. Formation continue : Assurez-vous que les membres de l'équipe sont formés à
                            l'utilisation efficace de SharePoint pour maximiser les avantages du site.

                        </p>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>


            <!--ECOMMERCE SECTION-->
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <h2>E-COMMERCE</h2>
                <h4>"Dans l'e-commerce, la vitrine virtuelle ouvre les portes du monde."</h4>
                <div class="fakeimg"><img src="./assets/Pictures/eCommerce.jpg" class="pictureclass" /></div>
                <br />
                <h5>Je suis en activité dans ce domaine depuis 2023.</h5>
                <p>Voici mon parcours en tant un chef de projet travaillant sur la mise en place d'une boutique en ligne
                    avec Magento 2 :
                </p>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 1 : Planification et Analyse
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Évaluation des besoins: Le chef de projet commence par comprendre les besoins du client
                            ou de l'entreprise pour la boutique en ligne. Cela implique de discuter des objectifs, des
                            fonctionnalités requises, du public cible, du budget et des délais.
                        </p>
                        <p> 2. Définition des exigences: En fonction des discussions avec le client, le chef de projet
                            rédige un document de spécifications détaillées qui résume toutes les fonctionnalités, les
                            intégrations avec d'autres systèmes, les flux de travail et les caractéristiques souhaitées
                            pour la boutique en ligne.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 2 : Conception et Configuration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Sélection de la technologie et des outils: Le chef de projet prend des décisions
                            concernant la technologie à utiliser, dans ce cas Magento 2, ainsi que les extensions ou les
                            modules à intégrer pour répondre aux besoins spécifiques du projet.
                        </p>
                        <p>
                            2. Création de la structure du site: Le chef de projet travaille avec les concepteurs pour
                            élaborer la mise en page, la structure de navigation et l'expérience utilisateur optimale du
                            site.
                        </p>
                        <p>
                            3. Personnalisation et développement: Si nécessaire, le chef de projet travaille avec les
                            développeurs pour personnaliser le thème, les fonctionnalités et les intégrations
                            conformément aux exigences spécifiques du projet.
                        </p>


                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 3 : Développement et Tests
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Développement du site: Les développeurs commencent à construire la boutique en ligne en
                            utilisant Magento 2, en intégrant les fonctionnalités, en configurant les extensions et en
                            optimisant les performances.
                        </p>
                        <p>
                            2. Tests fonctionnels: Le chef de projet et l'équipe effectuent des tests pour s'assurer que
                            toutes les fonctionnalités sont opérationnelles, que les flux de travail sont fluides et que
                            les intégrations fonctionnent correctement.

                        </p>
                        <p>
                            3. Tests d'acceptation: Le client est impliqué pour effectuer des tests d'acceptation et
                            s'assurer que la boutique en ligne répond à ses attentes et à ses exigences.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 4 : Lancement et Suivi
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Migration de données: Si nécessaire, le chef de projet planifie et effectue la migration
                            des données de l'ancien système vers le nouveau site Magento 2.
                        </p>
                        <p>
                            2. Formation et documentation: Le chef de projet organise des sessions de formation pour
                            l'équipe client afin qu'elle puisse gérer le site de manière autonome. Il fournit également
                            une documentation complète pour référence ultérieure.
                        </p>
                        <p>
                            3. Lancement: Une fois que le site a été testé et que tout est prêt, le chef de projet
                            coordonne le lancement officiel de la boutique en ligne.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 5 : Maintenance et Optimisation
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Surveillance et support: Après le lancement, le chef de projet surveille les performances
                            du site, résout les problèmes éventuels et fournit un support continu au client.
                        </p>
                        <p>
                            2. Optimisation continue: Le chef de projet travaille avec l'équipe pour analyser les
                            données et les retours d'expérience, et propose des améliorations continues pour optimiser
                            les performances du site et l'expérience utilisateur.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <!--INFOR M3-->
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <h2>INFOR M3</h2>
                <h4>"Dans le labyrinthe des opérations, un ERP est la clé qui simplifie le chemin."</h4>
                <div class="fakeimg"><img src="./assets/Pictures/M3.jpg" class="pictureclass" /></div>
                <br/>
                        <h5>Je suis en activité dans ce domaine depuis 2021.</h5>
                <p>Voici quelques exemple de mon parcours avec SharePoint, en suivant les
                    étapes de la création d'un site SharePoint pour la gestion de projets :
                </p>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 1 : Planification et préparation
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Définir les besoins du projet : Identifiez les objectifs du projet et les
                            fonctionnalités
                            nécessaires dans le site SharePoint. Cela peut inclure la gestion de documents, le suivi des
                            tâches,
                            la collaboration d'équipe, etc.
                        </p>
                        <p> 2. Déterminez les autorisations : Identifiez les différents groupes d'utilisateurs et
                            attribuez-leur des niveaux d'autorisation appropriés en fonction de leurs rôles dans le
                            projet.
                        </p>
                        <p>

                            3. Choisir le type de site : Sélectionnez le modèle de site approprié en fonction des
                            besoins du
                            projet, par exemple un site d'équipe, un site de communication ou un site de groupe.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 2 : Pilotage du projet
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Connectez-vous à SharePoint : Accédez à la plateforme SharePoint en utilisant vos
                            informations d'identification.
                        </p>
                        <p>
                            2. Créez un nouveau site : Sélectionnez l'option pour créer un nouveau site et
                            choisissez le
                            modèle de site qui correspond le mieux à vos besoins.
                        </p>
                        <p>
                            3. Remplissez les détails du site : Donnez un nom au site, choisissez l'URL,
                            sélectionnez le
                            modèle de site, définissez les autorisations et configurez d'autres paramètres comme requis.
                        </p>
                        <p>
                            4. Personnalisez le site : Ajoutez des éléments personnalisés tels que des listes, des
                            bibliothèques de documents, des pages, des webparts, etc., pour répondre aux besoins
                            spécifiques du projet.
                        </p>


                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Étape 3 : Configuration et personnalisation de la solution
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            1. Ajoutez des listes et des bibliothèques** : Créez des listes pour le suivi des tâches,
                            la
                            gestion des problèmes, les demandes de changement, etc. Ajoutez également une bibliothèque
                            de
                            documents pour stocker et gérer les fichiers du projet.
                        </p>
                        <p>
                            2. Personnalisez les pages : Modifiez les pages du site pour y ajouter des informations
                            importantes, des rapports, des tableaux de bord, etc.

                        </p>
                        <p>
                            3. Configurer les flux de travail : Mettez en place des flux de travail automatisés pour
                            les
                            processus tels que l'approbation de documents, la gestion des demandes, etc.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

        </div>

    </div>

</div>